body{
    margin: 0;
    padding: 0;
}
ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

li {
    float: left;
    padding: 14px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
    float: left;
}

.topnav {
    background-color: #111111;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 20%;
}
  
.topnav p {
    float: left;
    color: #ff1801;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 25px;
    border-style: solid;
    border-color:#84433d00;
    border-width: 5px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    transition: ease-in-out 0.5s;
}
  
.topnav p:hover {
    border-color:#ff1801;
}

.topnav img{
    border-style: solid;
    border-color:#ff160100;
    border-width: 5px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding-bottom: 5px;
    transition: ease-in-out 0.5s;
}

.topnav img:hover{
    border-color:#ff1801;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

img{
    width: 20%;
    left: 0px;
}

body{
    background-color: #111111;
}

.media{
    background-color: #ff1801;
    bottom: 0;
    position: fixed;
    width: 100vw;
    height: 10vh;
}

.fa-youtube{
    color: #111111;
    margin-left: 42vw;
}

.fa-instagram{
    color: #111111;
    margin-left: 1vw;
}

.fa-twitter{
    color: #111111;
    margin-left: 1vw;
}

.dyno{
    margin-left: 5%;
    border-color: #ff1801;
    border-width: 4px;
    border-style: solid;
}

.dynotext{
    color: aliceblue;
    width: 15%;
    padding-left: 10px;
    border-color: #ff1801;
    border-width: 4px;
    border-style: solid;
    float: left;
}

.dsgn{
    margin-left: 15%;
    border-color: #ff1801;
    border-width: 4px;
    border-style: solid;
}

.dsgntext{
    color: aliceblue;
    width: 15%;
    padding-left: 10px;
    border-color: #ff1801;
    border-width: 4px;
    border-style: solid;
    float: right;
}