body{
    margin: 0;
    padding: 0;
}
ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

li {
    float: left;
    padding: 14px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
    float: left;
}

.navbar{
    position: sticky;
    height: 25vh;
}

.topnav {
    background-color: #111111;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 20%;
}
  
.topnav p {
    float: left;
    color: #ff1801;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 25px;
    border-style: solid;
    border-color:#84433d00;
    border-width: 5px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    transition: ease-in-out 0.5s;
}
  
.topnav p:hover {
    border-color:#ff1801;
}

.topnav img{
    border-style: solid;
    border-color:#ff160100;
    border-width: 5px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding-bottom: 5px;
    transition: ease-in-out 0.5s;
}

.topnav img:hover{
    border-color:#ff1801;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

img{
    width: 20%;
    left: 0px;
}

.column {
    float: left;
    width: 23%;
    padding: 5px;
}

.column img{
    width: 100%;

}
  

.column img {
    opacity: 0.8;
    cursor: pointer;
}
  
.column img:hover {
    opacity: 1;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: absolute;
    display: none;
}

#imgtext {
    position: absolute;
    bottom: 3%;
    left: 1%;
    color: #ff1801;
    font-size: 4vw;
}

.closebtn {
    position: absolute;
    top: 1%;
    left: 66%;
    color: #ff1801;
    font-size: 5vw;
    cursor: pointer;
}


.media{
    background-color: #ff1801;
    margin-top: 27.5%;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 10vh;
}

.menu{
    margin-left: 42%;

}

.fa-youtube{
    color: #111111;
}

.fa-instagram{
    color: #111111;
}

.fa-twitter{
    color: #111111;
}