ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

li {
    float: left;
    padding: 14px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
    float: left;
}

.topnav {
    background-color: #111111;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
.topnav a {
    float: left;
    color: #ff1801;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ff1801;
    color: rgb(255, 246, 246);
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

img{
    width: 10%;
    left: 0px;
}