ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

li {
    float: left;
    
}

.topnav {
    background-color: #ffffff;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #111111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #111111;
    color: #ff1801;
}
  
.topnav a.active {
    background-color: #111111;
    color: #ff1801;
}

.topnav img{
    width: 10%;
    position: absolute;
    left: 0px;
}